@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
    transform: translateX(4px);
  }
}

.blinking-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 0.8s infinite;
}
@keyframes floating1 {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-15px) rotate(-2deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes floating2 {
  0% {
    transform: translateY(0px) translateX(0px) scale(1);
  }
  50% {
    transform: translateY(-10px) translateX(10px) scale(1.05);
  }
  100% {
    transform: translateY(0px) translateX(0px) scale(1);
  }
}

@keyframes floating3 {
  0% {
    transform: translateY(0px) rotate(0deg) scale(1);
  }
  50% {
    transform: translateY(10px) rotate(5deg) scale(0.95);
  }
  100% {
    transform: translateY(0px) rotate(0deg) scale(1);
  }
}

.animate-floating1 {
  animation: floating1 5s ease-in-out infinite;
}

.animate-floating2 {
  animation: floating2 6s ease-in-out infinite;
}

.animate-floating3 {
  animation: floating3 6s ease-in-out infinite;
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
@keyframes tilt {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}

.animate-tilt {
  animation: tilt 10s infinite linear;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}


